<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/user/userRegisterConfirm}" th:object="${userRegisterForm}" method="post">
		<span th:errors="*{name}" style="color: red;">エラー</span><br>
		名前：<input type="text" name="name" th:field="*{name}"><br>
		<span th:errors="*{ruby}" style="color: red;">エラー</span><br>
		ふりがな：<input type="text" name="ruby" th:field="*{ruby}"><br>
		<span th:errors="*{zipcode}" style="color: red;">エラー</span><br>
		郵便番号：<input type="text" name="zipcode" th:field="*{zipcode}"><br>
		<span th:errors="*{address}" style="color: red;">エラー</span><br>
		住所：<input type="text" name="address" th:field="*{address}"><br>
		<span th:errors="*{telephone}" style="color: red;">エラー</span><br>
		電話番号：<input type="text" name="telephone" th:field="*{telephone}"><br>
		<span th:errors="*{password}" style="color: red;">エラー</span><br>
		パスワード：<input type="password" name="password" th:field="*{password}"><br>
		<span th:errors="*{confirmpassword}" style="color: red;">エラー</span><br>
		確認用パスワード：<input type="password" name="confirmpassword" th:field="*{confirmpassword}"><br>
		<button>登録</button>
	</form>
</body>

</html>